.page[b-pjrfm8m9vx] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-pjrfm8m9vx] {
    flex: 1;
}

.sidebar[b-pjrfm8m9vx] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-pjrfm8m9vx] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-pjrfm8m9vx]  a, .top-row[b-pjrfm8m9vx]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-pjrfm8m9vx]  a:hover, .top-row[b-pjrfm8m9vx]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-pjrfm8m9vx]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row[b-pjrfm8m9vx] {
        justify-content: space-between;
    }

    .top-row[b-pjrfm8m9vx]  a, .top-row[b-pjrfm8m9vx]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-pjrfm8m9vx] {
        flex-direction: row;
    }

    .sidebar[b-pjrfm8m9vx] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-pjrfm8m9vx] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-pjrfm8m9vx]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-pjrfm8m9vx], article[b-pjrfm8m9vx] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
